<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
      
    </startup>
  <appSettings>
    <add key="_ga" value="GA1.3.1727160678.1625933084"></add>
    <add key="_gid" value="GA1.3.1347252700.1625933084"></add>
    <add key="laravel_session" value="eyJpdiI6IlgyWDB3eFIxTjBLd3ZCS1wvUVJsZ2FRPT0iLCJ2YWx1ZSI6IlZ0R2VNVDlvblo0OVh3b2Q2OTRhcWRJMnRQUkZ5NFo1eEtyOEZqOFNEdllzcDljSzc0c0pXd2dQTExyMndsaW0iLCJtYWMiOiI2Yzk5ZDk2MWQ1MjdlNTA0YTRjYzIxNjZkZDc2OGRiZTBjNDZiOWNiYWZmNDA1ZjllZjA1YjA4MmZjMDk4ZDFhIn0%3D"></add>
    <add key="XSRF-TOKEN" value="eyJpdiI6InFjN0VpVElMUnVCTHM2NEYwM0lVXC9nPT0iLCJ2YWx1ZSI6IlhBTjFjeE15TitVak1zaEY0TjlUb1FqXC92Q3pOQ3R0XC9RN2dmM2VvVkc1cE5rVnBpeWRkQTczVkRFNG5aUWtXVSIsIm1hYyI6ImQ1MjZjNWFhOWEzZDAwZTFmNGQ5YThlMDY1NGU5YWJlNjBkZTk1MTUzOTE0Y2M3MDZlMDIzMjU3ODliODdmZDYifQ%3D%3D"></add>
    
  </appSettings>
</configuration>